/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
/tizen/out
/tizen/author-signature.xml
/tizen/.manifest.tmp
/tizen/signature1.xml
.DS_STORE